/** tag selector **/
.navigation_top {
  position: relative;
  width:100%;
  z-index:1000;
  transform:translate3d(0px,0px,0px);
  background-color: #ffff;
  opacity: 0.9;
  height:100px;
}

.mainheader{
  display: inline-block ;
  padding-left:30px;
  position: relative;
  padding-top:30px;
  left : 750px;
  font-size: 30px;
  padding-right: 20px;
  margin-left: 20px;}

.linktag{
  padding-right:50px;
text-decoration: none;
color: black;
}
body {
  background-image:repeating-linear-gradient(#A3E4DB,#FFF8F3);
  padding-top: 0;
  margin: 0;
}
table {
  font-size: 20px;
  margin-left: 20px;
  text-align: center;
  position: relative;
}

h2 {
  margin-left: 30px;
}

hr {
  border-style: dotted;
  border-bottom: none;
  border-width: thick;
  width: 2%;
}

footer {
  text-align: center;
  width: 100%;
  background-color: #678983;
  position: fixed;
  bottom: 0;
}

/** class selector**/
.bottomend {
  font-size: 50px;
  padding: 10px;
}

.topend{
  display:inline-block;
  float: left;
  position: relative;

 }


.name {
  font-size: 50px;
  position: relative;
  font-family: "Georgia", serif;
  margin: 15% 5% 5%;
  font-weight: 500;
  line-height: 35px;
}
.topend:hover{
  text-decoration: underline;
   color: blue;

}
.clock{
  position: inherit;
  padding:10px;
  font-size: 30px;
  border-radius: 10px;
  background-color: #ffff;
  transform: translatex(20%)
  translateY(20%);
  border-style: ridge;
  font-family: sans-serif;
  border-color: black;
}
